<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Belajar Flask</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
        
        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Web Development @uc_sisteminformasi</h1>
            <p>Ubah ukuran window dari browser Anda untuk melihat tampilan yang responsif!</p>
        </div>

    {% block content %}{%endblock%}
    


        <div class="jumbotron text-center" style="margin-bottom:0">
            <p>&copy;2020. Web Development</p>
        </div>
        <!--end of footer-->
    
        <!--styles-->
        <style>
            .fakeimg {
                height: 200px;
                background: #aaa;
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap/css/bootstrap.min.css') }}">
        <link rel='stylesheet' href="{{ url_for('static', filename= '/css/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename= '/css/style.css') }}">
        <!--scripts-->
        <script src="{{ url_for('static', filename= '/js/jquery3.5.1.js') }}"></script>
        <script src="{{ url_for('static', filename= '/popper/js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename= '/bootstrap/js/bootstrap.min.js') }}"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            })
        </script>

</body>

</html>